In [1]:
from contrans import contrans
import numpy as np
import pandas as pd
import dotenv
import os
import json

In [2]:
ct = contrans()
ct.mypassword
ct.congresskey

'EOgcH9FX3IuoGbMxriBzlyS4BQXbiPaXkVfEX7eG'

In [3]:
useragent = ct.get_useragent()
useragent

'python-requests/2.32.3'

In [4]:
headers=ct.make_headers()
headers

{'User-Agent': 'python-requests/2.32.3', 'From': 'mathaimadelyn@gmail.com'}

In [10]:
bioguides = ct.get_bioguideIDs()
bio_df = pd.json_normalize(bioguides, record_path=['members'])
bio_df[['name','state', 'district', 'bioguideId', 'partyName']]

                    name       state  district bioguideId   partyName
0       McIver, LaMonica  New Jersey      10.0    M001229  Democratic
1       Evans, Daniel J.  Washington       NaN    E000236  Republican
2            Sasser, Jim   Tennessee       NaN    S000068  Democratic
3       Helmy, George S.  New Jersey       NaN    H001097  Democratic
4             Ruiz, Raul  California      25.0    R000599  Democratic
5     De La Cruz, Monica       Texas      15.0    D000594  Republican
6       Menendez, Robert  New Jersey       NaN    M000639  Democratic
7              Carr, Bob    Michigan       8.0    C000178  Democratic
8           Nowak, Henry    New York      33.0    N000163  Democratic
9         Pascrell, Bill  New Jersey       9.0    P000096  Democratic
10       Booker, Cory A.  New Jersey       NaN    B001288  Democratic
11   Jackson Lee, Sheila       Texas      18.0    J000032  Democratic
12      Payne, Donald M.  New Jersey      10.0    P000604  Democratic
13       Gallagher, Mike   Wisconsin       8.0    G000579  Republican
14      Symms, Steven D.       Idaho       NaN    S001138  Republican
15           Lopez, Greg    Colorado       4.0    L000604  Republican
16  Kiggans, Jennifer A.    Virginia       2.0    K000399  Republican
17   Strickland, Marilyn  Washington      10.0    S001159  Democratic
18           Carey, Mike        Ohio      15.0    C001126  Republican
19     Rulli, Michael A.        Ohio       6.0    R000619  Republican

In [6]:
votes = ct.get_votes()
votes

        congress chamber  rollnumber  icpsr  cast_code   prob
0            118   House           1  14854          6  100.0
1            118   House           1  14863          6   98.2
2            118   House           1  14873          1  100.0
3            118   House           1  15029          1  100.0
4            118   House           1  15433          1  100.0
...          ...     ...         ...    ...        ...    ...
486659       118   House        1118  31101          6  100.0
486660       118   House        1118  31102          9   99.6
486661       118   House        1118  39301          6  100.0
486662       118   House        1118  39307          6  100.0
486663       118   House        1118  91980          1   99.1

[486664 rows x 6 columns]

In [7]:
house = house(['rollnumber', 'icpsr','cast_code'])

NameError: name 'house' is not defined

In [ ]:
house_mat = pd.merge(house, house on = 'rollnumber')

In [ ]:
house_mat['agree'] = house_mat['cast_code_x'] == house_mat['cast_code_y']
house_mat = house_mat.groupby(['icpsr_x', 'icpsr_y']).agg({'agree': 'mean'})
house_mat = house_mat.reset_index()

In [ ]:
ideo = ct.get_ideology()
members = ideo[['bioname', 'icpsr','partycode']]
members